@import url("./root.css");

/* ======================================================== MARGIN ========================================================== */

.mt-10 {
  margin-top: 10px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

/* ======================================================== PADDING ========================================================== */

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-12 {
  padding-left: 12px !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.px-unset {
  padding-left: 0;
  padding-right: 0;
}

.pt-30 {
  padding-top: 30px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-86 {
  padding-top: 86px;
}

/* ======================================================== FLEX_CLASSES ======================================================= */

.gap-12 {
  gap: 12px;
}

.gap-30 {
  gap: 30px;
}

/* ======================================================== COMMON THINGS ====================================================== */

.common-btn {
  outline: none;
  border: none;
}

.left-right-brdr {
  border-left: 1px solid var(--service-card-brdr);
  border-right: 1px solid var(--service-card-brdr);
}

.border-left {
  border-left: 1px solid var(--service-card-brdr);
}

.border-right {
  border-right: 1px solid var(--service-card-brdr);
}

.border-top-26 {
  border-top: 1px solid var(--service-card-brdr);
}

.by-brdr {
  border-top: 1px solid var(--service-card-brdr);
  border-bottom: 1px solid var(--service-card-brdr);
}

::-webkit-scrollbar {
  display: none;
}

/* ======================================================== HEADER ========================================================== */

.head-bg {
  background-image: url(../images/png/Header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav {
  left: 0;
  top: 0;
  padding: 20px 0px;
  z-index: 2;
  border-bottom: 1px solid #262626;
}

.navbar {
  padding: 0;
}

.contact-btn {
  height: 45px;
  width: 104px;
  border-radius: 6px;
  background-color: #9eff00;
}

.header-h {
  max-width: 587px;
}

.main-startup {
  width: 100%;
  overflow-x: scroll;
}

.startup-card {
  padding: 18px 30px;
  background: #24242433;
  backdrop-filter: blur(6px);
  border-radius: 8px;
  border: 1px solid #262626;
  width: 704px;
}

.startup-card span {
  padding: 8px 10px;
  background: #262626;
  border-radius: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.works-btn {
  background-color: #24242433;
  border: 1px solid #333333;
  backdrop-filter: blur(3px);
}

/* ======================================================== SLIDER ========================================================== */

.common-slider {
  padding: 20px;
  border-radius: 8px;
  background: var(--common-slider);
}

.slider-p span {
  background: var(--slider-p);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slick-slide {
  margin: 0 58px;
}

.slick-list {
  margin: 0 -58px;
}

.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

/* ======================================================== SERVICES ======================================================== */

.services-bg {
  background-image: url(../images/png/services-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 280px;
}

.common-services-card {
  padding: 40px;
  border-bottom: 1px solid var(--service-card-brdr);
  border-top: 1px solid var(--service-card-brdr);
}

.service-common-svg,
.choose-svg-relate-service {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  background: var(--service-common-svg);
}

.service-common-svg::after,
.choose-svg-relate-service::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: var(--service-after);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.common-learn-btn {
  max-width: 346px;
  height: 52px;
  background-color: var(--color-26);
  border-radius: 6px;
}

/* ======================================================== CHOOSE_UP ======================================================= */

.choose-up-bg {
  background-image: url(../images/png/choose-up-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 280px;
}

.choose-p {
  max-width: 779px;
}

.common-card-choose {
  padding: 20px;
}

.choose-card1,
.choose-card2 {
  border-bottom: 1px solid var(--service-card-brdr);
}

/* ======================================================== CLIENT ============================================================ */
.choose-up-bg {
  background-image: url(../images/png/client-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 280px;
}

.common-client-card {
  padding: 40px 24px;
}

.client-card-txt-btn {
  padding: 14px;
  background: #24242433;
  border-radius: 6px;
  border: 1px solid #262626;
}

.open-web-btn {
  width: 117px;
  height: 49px;
  background: #262626;
  border-radius: 6px;
}

.client-card1,
.client-card2 {
  border-top: 1px solid var(--service-card-brdr);
}

.client-card7,
.client-card8 {
  border-bottom: 1px solid var(--service-card-brdr);
}

/* ======================================================== ACCORDIAN ============================================================ */

.acc-numb {
  padding: 16px;
  position: relative;
  border-radius: 8px;
  background: var(--service-common-svg);
}

.acc-numb::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: var(--service-after);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.accordian-txt {
  padding: 24px 40px;
}

.accordian-box {
  border-bottom: 1px solid #262626;
}

.thanks-up-bg {
  background-image: url("../images/png/section5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 483px;
}

/* ======================================================== THANKS ========================================================== */

.start-btn {
  width: 127px;
  height: 49px;
  border-radius: 6px;
  background-color: #9eff00;
}

.green-box {
  width: 60.28px;
  height: 60px;
  background: #9eff00;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 6px #ffffff80 inset;
}

/* ======================================================== INFORMATION ========================================================= */

.email-card {
  max-width: 846px;
  padding: 60px;
  padding-bottom: 30px;
}

.contact-card {
  max-width: 846px;
}

.common-name-box {
  width: 100%;
  height: 113px;
  padding: 20px 30px 20px 30px;
  background: #24242480;
  border-radius: 6px;
  border: 1px solid #262626;
}

.common-name {
  color: #656567;
  padding-bottom: 6px;
  border: none;
  border-bottom: 1px solid #262626;
  background-color: transparent;
  outline: none;
}

.contact-box {
  width: 726px;
  padding: 30px;
  padding: 20px 30px 20px 30px;
  background: #24242480;
  border-radius: 6px;
  border: 1px solid #262626;
}

/* ======================================================== MEDIA SCREEN ========================================================== */

@media (min-width: 992px) {
  .common-card-choose {
    padding: 60px;
  }

  .common-client-card {
    padding: 80px 49px;
  }

  .mt-lg-84 {
    margin-top: 84px;
  }

  .py-lg-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .common-name-box {
    width: 348px;
  }
}

@media (max-width: 992px) {
  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 5;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #9eff00;
  }

  #bar2 {
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .navbar-items {
    position: fixed;
    top: 0;
    left: -100%;
    height: 102vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--black-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    z-index: 1;
  }

  .show {
    left: 0;
  }

  .token-card {
    max-width: 768px;
  }

  .sec6-img {
    max-width: 660px;
  }

  .sec7-right {
    opacity: 20%;
  }

  .timeline-fire {
    opacity: 43%;
  }

  .email-card,
  .contact-card {
    border: none;
    width: 100%;
  }

  .contact-box {
    width: auto;
  }

  .email-card {
    padding: 0;
    padding-top: 30px;
  }

  .email-pb {
    margin-bottom: 30px;
  }
}

@media (max-width: 991.1px) {
  .common-services-card {
    padding: 20px;
  }

  .section6 {
    padding: 0px 12px;
  }
}

@media (max-width: 767.1px) {
  .header {
    min-height: 77vh !important;
  }

  .startup-card {
    border-radius: 0;
  }
}

@media (max-width: 575.11px) {
  .accordian-txt {
    padding: 18px 12px;
    gap: 12px !important;
  }
}
